.header {
  width: 100%;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
}

.t1-c {
  background-color: white;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.t2-c {
  background-color: white;
  width: 25%;
}

.header-photo {
  width: 70%;
}
